{#
Display a hierarchical tree of organizations


Example:

{% snippet "organization/snippets/organization_list.html" %}

#}

{% if q is not defined %}{% set q = c.q %}{% endif %}
{% set type = 'asset' if h.ckan_version() > '2.9' else 'resource' %}
{% include 'hierarchy/snippets/hierarchy_' ~ type ~ '.html' %}
<div id="publisher-tree">
     {% if q %}
     	{% set top_nodes = h.group_tree_highlight(groups, h.group_tree(type_='group')) %}
     {% else %}
     	{% set top_nodes = h.group_tree(organizations=groups, type_='group') %}
     {% endif %}
     {% if pkg_dict %}
          {{ h.render_tree_list(top_nodes=h.package_themes_list(groups),group_type="group") | safe }}
     {% else %}
          {{ h.render_tree_list(top_nodes=top_nodes,group_type="group") | safe }}
     {% endif %}
</div>
