{% ckan_extends %}

{% if group_dict is not defined %}
    {% set group_dict = c.group_dict %}
{% endif %}

{% block page_heading %}
  {% if group_dict.longname %}
    {{ group_dict.longname }} ({{ group_dict.display_name }})
  {% else %}
      {{ super() }}
  {% endif %}
{% endblock %}

{% block organization_description %}
  {{ super() }}
  {% set type = 'asset' if h.ckan_version() > '2.9' else 'resource' %}
  {% include 'hierarchy/snippets/hierarchy_' ~ type ~ '.html' %}
  <div id="organization-tree">
      {{ h.render_tree(top_nodes=[h.group_tree_section(id_=group_dict.id, type_=group_dict.type)]) | safe }}
  </div>

{% endblock %}
